.mobile_menu {
  display: flex;

  justify-content: center;
  align-items: flex-start;

  padding: 8px;
  padding-top: 80px;

  position: fixed;
  top: 0px;
  right: 0px;

  z-index: 105;
  transition: 0.5s;
  transform: translateX(100%);

  height: 100vh;
  width: 350px;

  border: 1px solid black;
  background-color: white;
  background-color: rgb(23, 42, 54);
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .profile_icon {
    display: flex;
    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 10px;

    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
  }

  .mobile_navlink_container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: flex-start;

    gap: 20px;

    height: fit-content;
    width: 100%;

    .link {
      font-size: 20px;
      color: white;
    }
  }

  .login_button {
    display: flex;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);

    button {
      display: flex;

      justify-content: center;
      align-items: center;

      padding: 5px 20px;
    }
  }
}

.reveal {
  transform: translate(0%);
}

@media only screen and (max-width: 350px) {
  .mobile_menu {
    width: 100%;
  }
}
