.nav {
  display: flex;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  justify-content: space-between;
  align-items: center;

  padding: 8px;

  height: fit-content;
  width: 100%;

  .left {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    gap: 10px;

    height: fit-content;
    width: fit-content;

    .iconContainer {
      display: none;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      // border: 1px solid white;
      border-radius: 50%;
      height: 25px;
      width: 25px;

      .icon {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .right {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    gap: 10px;

    height: fit-content;
    width: fit-content;

    .navlink_container {
      display: none;

      justify-content: space-evenly;
      align-items: center;

      gap: 20px;

      height: fit-content;
      width: fit-content;
    }

    .profile_icon {
      display: flex;
      cursor: pointer;

      justify-content: center;
      align-items: center;

      // z-index: 106;

      height: 40px;
      width: 40px;

      .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .nav {
    .right {
      .navlink_container {
        display: none;
      }
    }
  }
}
