.page {
  display: flex;
  flex-direction: column;

  padding: 0px;
  gap: 50px;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.utilityPage {
  display: flex;
  flex-direction: column;

  padding: 5px;
  // gap: 50px;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  
}

.section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  padding: 5px;
  gap: 10px;
  overflow-x: none;

  padding-top: 30px;
  padding-bottom: 30px;

  height: fit-content;
  width: 1000px;

  // border: 1px solid white;

  .sectionTitle {
    font-size: 30px;
    font-weight: 400;

    align-self: flex-start;

    display: flex;
    margin-bottom: 8px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;

  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;
}

.CallToActionBox {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-self: flex-start;

  gap: 10px;
  padding: 0px;

  height: fit-content;
  width: fit-content;

  .Button {
    font-size: 16px;
    font-weight: 400;

    display: flex;
    align-self: flex-start;

    padding: 5px 20px;
    margin-left: 0px;

    transition: 0.3s ease-in-out;
    cursor: pointer;

    border: 2px solid white;
    border-radius: 5px;
    background-color: #202023;
    backdrop-filter: blur(5px);

    color: white;
  }

  .Button:is(:hover) {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 1000px) {
  .section {
    width: 100%;
  }
}

@media only screen and (max-width: 590px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
