.hero {
  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: center;
  align-items: flex-start;

  gap: 0px;
  padding: 10px;

  height: 400px;
  width: 1500px;

  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);

  .title {
    font-size: 80px;

    transition: 0.5s;
  }
  .text {
    transition: 0.5s;
  }
}

@media only screen and (max-width: 1500px) {
  .hero {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    .title {
      font-size: 50px;
    }
  }
}

@media only screen and (max-width: 440px) {
  .hero {
    .title {
      font-size: 35px;
    }
    .text {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 300px) {
  .hero {
    .title {
      font-size: 25px;
    }
    .text {
      font-size: 12px;
    }
  }
}
