.mobileMenu {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 0px;
  right: 0px;

  z-index: 105;
  transition: 0.5s;
  transform: translateX(100%);

  height: 100vh;
  width: 300px;

  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(36, 36, 36, 0.9);
  backdrop-filter: blur(5px);

  .linksContainer {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    margin-top: 50px;

    height: 300px;
    width: 100%;

    border: 1px solid red;

    .link {
      cursor: pointer;
    }
  }
}

.reveal {
  transform: translateX(0%);
}

@media only screen and (max-width: 996px) {
  .mobileMenu {
    display: flex;
  }
}

@media only screen and (max-width: 300px) {
  .mobileMenu {
    width: 100%;
  }
}
