.nav {
  display: flex;

  position: fixed;
  top: 0px;

  justify-content: space-between;
  align-items: center;

  z-index: 100;

  height: fit-content;
  width: 100%;

  //   border: 1px solid white;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(36, 36, 36, 0.9);
  backdrop-filter: blur(5px);

  .right {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    gap: 20px;
    padding: 5px;

    height: fit-content;
    width: fit-content;

    .navlinkContainer {
      display: flex;

      justify-content: space-evenly;
      align-items: center;

      gap: 20px;

      height: fit-content;
      width: fit-content;

      .link {
        cursor: pointer;
      }
    }

    .imgContainer {
      display: flex;
      cursor: pointer;
      z-index: 110;
      overflow: hidden;
      height: 40px;
      width: 40px;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}

@media only screen and (max-width: 996px) {
  .nav {
    .right {
      .navlinkContainer {
        display: none;
      }
      .imgContainer {
        
      }
    }
  }
}
