.hero {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;

  height: 80vh;
  width: 100%;

  background: linear-gradient(
    90deg,
    rgba(6, 63, 97, 0.8561625333727241) 0%,
    rgba(6, 70, 108, 0.8561625333727241) 38%,
    rgba(5, 103, 122, 1) 100%
  );
  background: #172A36;

  color: white;

  .title {
    font-size: 50px;
    transition: 0.5s ease-in-out;
  }
  .subtitle {
    transition: 0.5s ease-in-out;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    .title {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .hero {
    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 12px;
    }
  }
}
