.swiper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  height: 100%;
  width: 100%;

  .link {
    display: flex;
    position: absolute;

    z-index: 5;

    height: 100%;
    width: 100%;
  }

  .slide {
    display: flex;
    position: relative;
    cursor: pointer;

    justify-content: center;
    align-items: center;

    overflow: hidden;
    transition: 0.3s;

    height: 200px;
    width: 400px;

    border: 1px solid black;

    .icon {
      display: none;

      position: absolute;
      top: 5px;
      left: 5px;

      height: 30px;
      width: 30px;

      border-radius: 50%;
      border: 1px solid black;
    }

    .imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      height: 100%;
      width: 100%;

      .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .diffuser {
      display: flex;
      position: absolute;

      z-index: 2;
      
      height: 100%;
      width: 100%;
      
      background-color: rgba(0, 0, 0, 0.2);
    }
    
    .title {
      position: absolute;
      z-index: 4;
      bottom: 5px;
      left: 5px;
    }
  }
}



