.project_Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;

  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: flex-start;

    gap: 8px;
    // cursor: pointer;
    transition: .5s ease-in-out;

    margin: auto;

    height: fit-content;
    width: 300px;

    .imgContainer {
      display: flex;

      position: relative;

      justify-content: center;
      align-items: center;
      overflow: hidden;

      padding: 0;

      height: 250px;
      width: 100%;

      border: 2px solid black;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .titleContainer {
      display: flex;
      gap: 10px;

      justify-content: center;
      align-items: flex-start;

      height: fit-content;
      width: fit-content;

      .title {
        display: flex;
        // color: white;
        font-size: 20px;
        font-weight: 400;

        margin: auto;

        justify-content: center;
        align-items: center;

        // background-color: red;
        // border-radius: 5px;
      }

      .text {
        font-size: 14px;
        color: grey;
      }
    }

    .text {
      font-size: 14px;
      color: grey;
    }

    .description {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 996px) {
  .project_Grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    .card {
      width: 100%;
      .imgContainer {
        height: 200px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  .project_Grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    .card {
      width: 100%;
      .imgContainer {
        height: 200px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .project_Grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .card {
      width: 100%;
      .imgContainer {
        height: 200px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .project_Grid {
    .card {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 330px) {
  .project_Grid {
    .card {
      width: 100%;
    }
  }
}
