.Content_Container {
  display: flex;
  flex-direction: column;

  gap: 30px;

  justify-content: center;
  align-items: flex-start;

  height: fit-content;
  width: 100%;

  transition: 0.5s;
}
.Technolgies_Container {
  display: flex;
  flex-direction: column;

  gap: 20px;

  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 100%;
}
.Tech_Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  gap: 10px;

  justify-content: center;
  align-items: center;
  margin-left: 0px;

  height: fit-content;
  width: 100%;
}
.Card {
  border: 1px solid black;

  display: flex;

  padding: 8px 8px;
  gap: 10px;
  margin: auto;

  cursor: pointer;

  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 200px;

  transition: 0.3s ease-in-out;
}
.Icon {
  height: 20px;
  margin: auto;
  margin-left: 0px;
}

.Title {
  margin: auto;
  margin-right: 0px;
  font-size: 14px;
  text-align: center;
}

.Card:is(:hover) {
  transform: translateY(-3px);
}

@media only screen and (max-width: 700px) {
  .Tech_Grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  .Card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .Title,
  .Icon {
    margin: auto;
  }
}

@media only screen and (max-width: 550px) {
  /* .Title {
    font-size: 35px;
  } */
  .Description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 335px) {
  .Tech_Grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 5px;
  }
  .Card {
    flex-direction: column;
    width: 80px;
  }
  .Title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .Description {
    font-size: 13px;
  }
}
