.head {
  display: flex;

  justify-content: center;
  align-items: center;
  align-self: flex-start;

  gap: 8px;

  height: fit-content;
  width: fit-content;

//   border: 1px solid black;

  .title {
    font-size: 20px;
  }

  .project_number {
    font-size: 12px;
    margin: auto;
  }
}
